.compose{
    display: flex;
    flex-direction: column;
    width: 525px;
    margin-top: 190px;
    margin-left: 878px;
    position: fixed;
    border-radius: 12px;
    box-shadow: -5px 19px 26px whitesmoke;
}

.compose__header{
    display: flex;
    color: #332f2f;
    height: 38px; flex-direction: row;
    align-items: center;
    background-color:#e1eaf4;
}

.compose__header-left{
    width: 417px;
    margin-left: 19px;
}

.compose__header-right .header-icon-1{
    font-size: 19px;
    margin-right: 6px;
    margin-left: 17px;
    margin-bottom: -6px;
}

.header-icon-1:hover{
    background-color: gainsboro;
}
.compose__header-right .header-icon-2{
    margin-bottom: -2px;
    font-size: 17px;
    margin-right: 4px;

}
.compose__header-right .header-icon-2:hover{
    background-color: gainsboro;
   
    margin-right: 4px;
}
.compose__header-right .header-icon-3{
    margin-bottom: -3px;
    font-size: 19px;
}
.compose__header-right .header-icon-3:hover{

    background-color: gainsboro;
}

.compose__body hr{
        margin-right: 10px;
        margin-left: 10px;
        border: 1px solid whitesmoke;   
}

.compose__body{
    height: 420px;
    background-color: white;
}
.compose__input{
    margin-top: 11px;
    margin-left: 11px;
    color: #353232;
}
.compose__input input{
    width: 410px;
    border: 0px solid white;
    margin-left: 7px;
    margin-right: 9px;
}

.compose__footer{
    padding-left: 17px;
    background-color: white;
    height: 47px;
}
.compose__footer .footer-icon{
    font-size: 19px;
    color: grey;
    margin-left: 10px;
}
.compose__footer .compose__btn{
    color: white;
    font-size: 13px;
    background: #1976d2;
    margin-top: -7px;
    padding-right: 4px;
    padding-left: 13px;
    border-radius: 15px;
}
.compose__footer .compose__btn:hover{
background-color: rgb(75, 75, 147);
}
.compose__btn .compose__btn-icon{
    padding-left: 5px;
    border-left: 1px solid black;
    margin-left: 12px;
}
.compose__footer .footer-icon-delete{
    font-size: 19px;
    color: grey;
    margin-left: 115px;
}

.compose__body .compose__message{
        height: 345px;
        width: 488px;
        margin-top:12px;
        border: 0px;
        margin-left: 15px;
}